@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-dark-purple: #081a51;
  --color-light-white: rgba(255, 255, 255, 0.18);
}

@layer utilities {
  .touch-action-none {
    touch-action: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #0369a1; 
    border-radius: 4px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
